<div class="item-wrapper" >
  <mat-card class="items-card" *ngFor="let data of dataArray">
    <div class="items-card__image">
      <div class="items-card__image-mask"></div>
      <span class="items-card__image-sign items-raleway">{{data.city}}</span>
    </div>
    <mat-card-content class="items-card__content items-montserrat">
      {{data.name}}
    </mat-card-content>
    <mat-card-footer class="items-card__footer">
      <span class="items-card__footer-category items-raleway">{{data.category}}</span>
      <span class="items-card__footer-price items-montserrat">${{data.price}}</span>
    </mat-card-footer>
  </mat-card>
</div>
