<div class="menu-component">
  <section *ngIf="innerWidth < 645">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div class="menu-form__wrapper" [ngClass]="{'made-my-absolute': innerWidth <= 640}">
        <form [formGroup]="myForm" class="hidden-menu" (ngSubmit)="submit()">
          <div class="menu-select__title">CITY</div>
          <div class="menu-select__select">
            <select (click)="$event.stopPropagation()" name="city" id="cityMenu" formControlName="city">
              <option *ngFor="let city of cities" [ngValue]="city.value">{{city.viewValue}}</option>
            </select>
          </div>

          <div class="menu-select__title" >CATEGORIES</div>
          <label (click)="$event.stopPropagation()" class="menu-categories container menu-select__title" formArrayName="category"
                 *ngFor="let categoryes of myForm.controls.category.controls; let i = index">
            <input  type="checkbox"  [formControlName]="i"><span class="checkbox_label">{{category[i].name}}</span>
            <span class="menu-categories__checkmark checkmark"></span>
          </label>

          <div class="menu-select__title">PRICE</div>
          <nouislider (click)="$event.stopPropagation()" #slider formControlName="price" [config]="sliderConfigure" [formControl]='myForm.controls.price'></nouislider>

          <span class="prices">${{myForm.value.price[0]}} - ${{myForm.value.price[1]}}  </span>

          <button mat-flat-button class="submited-button" type="submit">FILTER</button>
        </form>
      </div>
    </mat-menu>
  </section>



  <div class="menu-form__wrapper" *ngIf="innerWidth >= 645">
    <form [formGroup]="myForm" (ngSubmit)="submit()">
      <div class="menu-select__title">CITY</div>

      <div class="menu-select__select">
        <select name="city" id="city" formControlName="city">
          <option>Select City</option>
          <option  *ngFor="let city of cities" [ngValue]="city.value">{{city.viewValue}}</option>
        </select>
      </div>

      <div class="menu-select__title" >CATEGORIES</div>
      <label  class="menu-categories container" formArrayName="category"
              *ngFor="let categoryes of myForm.controls.category.controls; let i = index">
        <input type="checkbox"  [formControlName]="i"><span class="checkbox_label">{{category[i].name}}</span>
        <span class="menu-categories__checkmark checkmark"></span>
      </label>
      <div class="menu-select__title">PRICE</div>

      <nouislider #slider formControlName="price" [config]="sliderConfigure" [formControl]='myForm.controls.price'></nouislider>

      <span class="prices">${{myForm.value.price[0]}} - ${{myForm.value.price[1]}}  </span>

      <button mat-flat-button class="submited-button" type="submit">FILTER</button>
    </form>
  </div>



</div>
